.products-container {
  max-width: auto;
  margin: 0 auto;
  padding: 20px;
}

.products-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  
}

.product-grid-item {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.product-grid-item img {
  max-width: 300px;
  height: 250px;
  margin-bottom: 10px;
}

.product-grid-item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-grid-item p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.btn-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.btn-add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgb(232, 111, 41);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-right: 20px;
}

.btn-view-product {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgb(232, 111, 41);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-left: 20px;
}

.btn-add-to-cart:disabled {
  background-color: #ccc;
  color: #333;
  cursor: not-allowed;
}

.heart-icon-container {
  position: relative;
  top: 10px;
  right: 0px;
}

.heart-icon {
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.2s ease-in-out;  
}

.heart-icon:hover {
  color: #f00;
}

.filled {
  color: #f00;
}

.btn-cart {
  display: flex;
  justify-content: center;
}

.btn-view-all {
  background-color:  rgb(232, 111, 41);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease;
  margin-right: 30px;
}

.btn-cart button {
  background-color:  rgb(232, 111, 41);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease;
  margin-right: 30px;
}

.btn-cart a {
  color: white;
  text-decoration: none;
}


@media (max-width: 768px) {
  .products-heading {
    font-size: 2rem;
  }

  .product-grid-item {
    padding: 0.5rem;
  }

  .product-grid-item img {
    width: 10rem;
    height: 10rem;
  }

  .product-grid-item h3 {
    font-size: 1.2rem;
  }

  .product-grid-item p {
    font-size: 1rem;
  }

  .btn-add-to-cart {
    margin-right: 0.5rem;
  }
}
